<div class="question indent-bottom-30">
    <p class="instruc">Pour faire cet exercice, merci d’attendre mon signal pour commencer</p>
    <img src="app/img/danseuse.png" height="150" alt="img" />
    <p>Je suis capable de monter sur la pointe d’un pied, de tenir 5 secondes sans toucher le sol avec l’autre pied.</p>
</div>
<div class="reponse">
    <p class="instruc">Clique pour indiquer tes réponses</p>
    <ul>
        <li><a class="btn small" href="" id="n1">Très facilement</a></li>
        <li><a class="btn small" href="">Facilement</a></li>
        <li><a class="btn small" href="">Difficilement</a></li>
        <li><a class="btn small" href="">Très difficilement</a></li>
    </ul>
</div>