<div class="question indent-bottom-30">
    <p>Vous voyez ci-dessous 4 dessins qui représentent les différents mouvements d’une roulade avant (une galipette).</p>
    <ul>
        <li>1<img src="app/img/roulade1.png" alt="img" height="190"  /></li>
        <li>2<img src="app/img/roulade2.png" alt="img" height="190"  /></li>
        <li>3<img src="app/img/roulade3.png" alt="img" height="190"  /></li>
        <li>4<img src="app/img/roulade4.png" alt="img" height="190"  /></li>
    </ul>

</div>
<div class="reponse">
    <p>Remettez les dans l’ordre dans lequel ils se déroulent du début à la fin de l’exercice, en indiquant le numéro qui correspond.</p>
    <br>
    <input type="text" maxlength="1" class="answer" id="i1" />
    <input type="text" maxlength="1" class="answer" id="i2" />
    <input type="text" maxlength="1" class="answer" id="i3" />
    <input type="text" maxlength="1" class="answer" id="i4" />
    <br>
    <br>
</div>
