<p>
    <img src="app/img/img-placeholder1.png" alt="img" class="wrap r1-3" />
    <span class="wrap r1-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</span>
</p>
<p class="clear"></p>
<p>
    <span class="wrap r3-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</span>
    <img src="app/img/img-placeholder1.png" alt="img" class=" wrap r3-1" />
</p>
<p class="clear"></p>
<p>
    <img src="app/img/img-placeholder1.png" alt="img" class="wrap r1-3" />
    <span class="wrap r1-3">Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</span>
</p>
